<?jst
    const title = "test sayfası";
    const content = "içerik";
?>
<html>
    <head>
        <title><?jst
            print(title);
        ?></title>
    </head>
    <body>
        <?jst
            print(content);
        ?>
    </body>
</html>