abc
<?jst
    const setTimeout = await require("./utils/setTimeout.js");
    const sleep = (ms) => new Promise((resolve) => setTimeout(() => resolve(ms), ms));
    await sleep(1000);
    print("def");
    await sleep(1000);
    print("ghi")
?>
jkl