<?jst
    const mysql = await require("./services/mysql.js");
    const query = await mysql.query("SELECT * FROM test");
    const [rows] = query;
    for(let i=0; i < rows.length; i++){
        ?>
        <b>
        <?jst
        print(rows[i].name);
        ?>
        </b>
        <?jst
    }
?>